---
import styles from "./SkillsSection.module.css";
import "devicon/devicon.min.css";

const { title, items } = Astro.props;
import { iconMap } from "../../utilities/icons.ts"
---

<div class={styles.skillsSection}>
  <p class="title titleSmall">{title}</p>
  <div class={styles.skillsList}>
    {
      items.map((item: string) => (
        <div class={`${styles.skillItem} title`} title={item}>
          <i
            class={`${styles.icon} ${iconMap[item]?.default || "devicon-devicon-plain"}`}
          />
          <i
            class={`${styles.iconHover} ${iconMap[item]?.hover || "devicon-devicon-plain"}`}
          />
        </div>
      ))
    }
  </div>
</div>

<style>sadsa</style>