---
import styles from "./SkillsSection.module.css";
import "devicon/devicon.min.css";
const { title, items } = Astro.props;

interface IconPair {
  default: string;
  hover: string;
}

const iconMap: { [key: string]: IconPair } = {
  JavaScript: {
    default: "devicon-javascript-plain",
    hover: "devicon-javascript-plain colored",
  },
  TypeScript: {
    default: "devicon-typescript-plain",
    hover: "devicon-typescript-plain colored",
  },
  React: {
    default: "devicon-react-original",
    hover: "devicon-react-original-wordmark colored",
  },
  "Node.js": {
    default: "devicon-nodejs-plain",
    hover: "devicon-nodejs-plain-wordmark colored",
  },
  WSL: {
    default: "devicon-linux-plain",
    hover: "devicon-linux-plain",
  },
  Prisma: {
    default: "devicon-prisma-original",
    hover: "devicon-prisma-original-wordmark",
  },
  npm: {
    default: "devicon-npm-original-wordmark",
    hover: "devicon-npm-original-wordmark colored",
  },
  Git: {
    default: "devicon-git-plain",
    hover: "devicon-git-plain-wordmark colored",
  },
  Github: {
    default: "devicon-github-original",
    hover: "devicon-github-original-wordmark",
  },
  HTML: {
    default: "devicon-html5-plain",
    hover: "devicon-html5-plain-wordmark colored",
  },
  CSS: {
    default: "devicon-css3-plain",
    hover: "devicon-css3-plain-wordmark colored",
  },
  Astro: {
    default: "devicon-astro-plain",
    hover: "devicon-astro-plain-wordmark colored",
  },
  "Express.js": {
    default: "devicon-express-original",
    hover: "devicon-express-original-wordmark",
  },
  "Discord.js": {
    default: "devicon-discordjs-plain",
    hover: "devicon-discordjs-plain-wordmark",
  },
  Tauri: {
    default: "devicon-tauri-plain",
    hover: "devicon-tauri-plain-wordmark colored",
  },
  Webpack: {
    default: "devicon-webpack-plain",
    hover: "devicon-webpack-plain-wordmark colored",
  },
  VSCode: {
    default: "devicon-vscode-plain",
    hover: "devicon-vscode-plain colored",
  },
  PostgreSQL: {
    default: "devicon-postgresql-plain",
    hover: "devicon-postgresql-plain-wordmark colored",
  },
  Jest: {
    default: "devicon-jest-plain",
    hover: "devicon-jest-plain colored",
  },
  Notion: {
    default: "devicon-notion-plain",
    hover: "devicon-notion-plain",
  },
};
---

<div class={styles.skillsSection}>
  <p class="title titleSmall">{title}</p>
  <div class={styles.skillsList}>
    {
      items.map((item: string) => (
        <div class={`${styles.skillItem} title`}>
          <i
            class={`${styles.icon} ${iconMap[item]?.default || "devicon-devicon-plain"}`}
          />
          <i
            class={`${styles.iconHover} ${iconMap[item]?.hover || "devicon-devicon-plain"}`}
          />
        </div>
      ))
    }
  </div>
</div>

<style>sadsa</style>