---
import BlogPosts from "../components/home/BlogPosts.astro";
import styles from "./Home.module.css";
---

<div class={`${styles.container} zone`} id="home">
  <div class=`${styles.leftColumn} firstSection`>
    <div class={`${styles.homeTitle} title`}>
      <h1 class="hidden show1">Facundo Tuñas</h1>
      <div class="hidden show1">
        <p class={styles.position}>Web Developer</p>
      </div>
    </div>
    <div class=`${styles.about} hidden show6 bottom`>
      <p>
        Self-taught web developer based in Montevideo, Uruguay. Most of the apps
        I've built are done with React and Express.js.
      </p>

      <p>I like playing Minesweeper.</p>
    </div>

    <div class=`${styles.contact} hidden show7 bottom`>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/facundo-tunas">LINKEDIN</a
      >
      <a href="mailto:facundotunas@outlook.com">EMAIL</a>
    </div>
  </div>

  <div class=`${styles.rightColumn} secondSection`>
    <h5 class="title hidden show1">Blog</h5>
    <BlogPosts />
  </div>
</div>

<script>
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  const titleElement = document.querySelector("h1") as HTMLElement;

  const activeIntervals = new Map<HTMLElement, number>();

  function startGlitchEffect(this: HTMLElement) {
    const originalText = this.textContent;
    if (originalText === " ") return;

    if (activeIntervals.has(this)) {
      clearInterval(activeIntervals.get(this));
    }

    const interval = setInterval(() => {
      this.textContent = letters[Math.floor(Math.random() * letters.length)];
    }, 50);

    activeIntervals.set(this, interval);
  }

  function stopGlitchEffect(this: HTMLElement) {
    const originalText = this.getAttribute("data-char");

    if (activeIntervals.has(this)) {
      clearInterval(activeIntervals.get(this));
      activeIntervals.delete(this);
    }

    this.textContent = originalText;
  }

  function wrapCharacters(element: HTMLElement) {
    if (!element) return;
    const text = element.textContent as string;
    element.innerHTML = "";
    for (const char of text) {
      const span = document.createElement("span");
      span.textContent = char;
      span.setAttribute("data-char", char);

      span.addEventListener("mouseenter", startGlitchEffect);
      span.addEventListener("mouseleave", stopGlitchEffect);
      element.appendChild(span);
    }
  }

  wrapCharacters(titleElement);
</script>
